
.Banner {
    background-image: url('../../assets/BannerProductsList3.svg');
    background-attachment:local;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    max-width: 100%;
    height: 300px;
}
.TitleHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 60px;
    font-family: "Bungee Tint", sans-serif;
}