
.Banner {
    background-image: url('../../assets/BannerProductsList2.svg');
    background-attachment:local;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    max-width: 100%;
    height: 300px;
}
@media screen and (max-width: 480px) {
    .Banner {
        height: 85px;
        background-size:cover;
        background-position:center;
    }
}