.HomeDetailContiner {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 0.5px solid rgba(9, 9, 9, 0.767);
    box-shadow: 37px 35px 6px 3px rgba(0,0,0,0.78);
    -webkit-box-shadow: 37px 35px 6px 3px rgba(0,0,0,0.78);
    -moz-box-shadow: 37px 35px 6px 3px rgba(0,0,0,0.78);
}
@media screen and (max-width: 400px) {
    .HomeDetailContiner {
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    
}
.detail-card {
    align-self: start;
    justify-content: center;
    align-items: center;
}