rules_version = '2';
service firebase.storage {
    match /b/{bucket}/o {
        // Allow read and write access to all users for files in the emulator
        match /{allPaths=**} {
            allow read, write: if request.auth != null;
        }
    }
}