.titleContainer {
    height: 90vh;
    background-image: url('../../assets/fondoCalle.jpg');
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    margin-top: -65px;
}
@media screen and (max-width: 500px) {
    .titleContainer {
        height: 80vh;
    }
    
}
.title2-container {
    display: flex;
    gap: 1rem;
    margin: 1rem 0 0 1rem; 
    backdrop-filter: blur(10px); 
}