.titleContainer {
    height: 110vh;
    background-image: url('../../assets/banner_dami2.jpg');
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    margin-top: -65px;
    height: 100vh;
}
@media screen and (max-width: 500px) {
    .titleContainer {
        height: 87vh;
    }
    
}
