/* .detail{
    background-image: url('../../assets/fondoDetail.jpg');
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    
} */
.detail-container {
    background: rgba(255, 99, 71, 0.685);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: auto;
    padding: 20px;
    max-width: 50%;
}

.title-detail {
    font-size: 35px;
}