.scrollCards {
    opacity: 0;
    transform: translateY(200px);
}

.scrollCards.reveal--visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out;
}